<mat-card class="card" *ngIf="curso">
  <mat-card-header>
  <mat-card-title>{{ curso.nombre }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="curso.imgUrl">
  <mat-card-content>
    <p [innerText]="curso.descripcion">
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" type="button" [routerLink]="['/cursos/editar']">EDITAR</button>
    <button mat-button color="warn" type="button" [routerLink]="['/cursos/lista']">VOLVER</button>
  </mat-card-actions>
</mat-card>