<mat-list-item>
    <h4 mat-line>{{cursoItem.nombre}}</h4>
    <p mat-line> {{cursoItem.descripcion}} </p>
    <button mat-icon-button color="primary" type="button" (click)="enviarNombre(cursoItem.nombre)">Enviar</button>
    <button mat-icon-button [routerLink]="['/cursos/crear']" type="button">
        <mat-icon mat-list-icon>fiber_new</mat-icon>
    </button>
    <button mat-icon-button type="button" [routerLink]="['/cursos/ver/', cursoItem.id]">
        <mat-icon mat-list-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-icon-button type="button" [routerLink]="['/cursos/editar/']">
        <mat-icon mat-list-icon>create</mat-icon>
    </button>
    <button mat-icon-button type="button">
        <mat-icon mat-list-icon>delete</mat-icon>
    </button>
</mat-list-item>