<h3>{{ titulo }}</h3><br>
<input type="text" [(ngModel)]="titulo"><br>
<input type="text" [(ngModel)]="titulo"><br>
<a [href]="urlGoogle">Ir google</a><br>
<img [src]="urlImgGoogle" alt=""><br>
<button type="button" (click)="cambiarUrlImagen()" [innerHTML]="nameButton"></button>
<button type="button" (click)="cambiarUrlImagen()" [innerHTML]="nameButton"></button>
<table>
  <tr>
    <th>Apellidos</th>
    <th>Nombres</th>
    <th>cie</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>675575</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>876876</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>56667</td>
  </tr>
</table>